# Data Scraping

*The objectives of this notebook:*
- Combined all the datasets 
- Initial variable screening 
- Combining the different income variables into one column


We begin by combining the loading and combining the dataframes

In [2]:
import numpy as np
import pandas as pd
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", None)
import warnings
warnings.filterwarnings("ignore")

In [3]:
df_2000 = pd.read_spss("data/GSS2000.sav")
df_2002 = pd.read_spss("data/GSS2002.sav")
df_2004 = pd.read_spss("data/GSS2004.sav")
df_2006 = pd.read_spss("data/GSS2006.sav")
df_2008 = pd.read_spss("data/GSS2008.sav")
df_2010 = pd.read_spss("data/GSS2010.sav")
df_2012 = pd.read_spss("data/GSS2012.sav")
df_2014 = pd.read_spss("data/GSS2014.sav")
df_2016 = pd.read_spss("data/GSS2016.sav")
df_2018 = pd.read_spss("data/GSS2018.sav")

In [4]:
df_2000.shape

(2817, 1161)

In [5]:
#The columsn we intend to use in our product
cols_of_interest = ["OCC10", "ISCO681", "ISCO88", "SIBS", "AGE", "EDUC", "PAEDUC", "MAEDUC", 
                    "DEGREE", "PADEG", "MADEG", "MAJOR1", "MAJOR2", "DIPGED", "SECTOR", "BARATE", 
                    "SEX", "RACE", "RES16", "REG16", "FAMILY16", "MAWRKGRW", "BORN", 
                    "PARBORN", "GRANBORN", "RINCOME", "RINCOM98", "RINCOM06", "RINCOM16", "POLVIEWS", 
                    "REG16", "COOP"]

In [55]:
list_of_dfs = [df_2000, df_2002, df_2004, df_2006, df_2008, df_2010, df_2012, df_2014, df_2016, df_2018]

df_combined = pd.DataFrame(columns=df_2000.columns)
df_combined = df_combined.append(list_of_dfs, ignore_index=True)

In [56]:
df_combined.shape

(26698, 3888)

In [57]:
df = df_combined[cols_of_interest]

In [58]:
df.shape

(26698, 32)

In [59]:
df.head()

,OCC10,ISCO681,ISCO88,SIBS,AGE,EDUC,PAEDUC,MAEDUC,DEGREE,PADEG,MADEG,MAJOR1,MAJOR2,DIPGED,SECTOR,BARATE,SEX,RACE,RES16,REG16,FAMILY16,MAWRKGRW,BORN,PARBORN,GRANBORN,RINCOME,RINCOM98,RINCOM06,RINCOM16,POLVIEWS,REG16,COOP
0,Broadcast and sound engineering technicians an...,8610,3132.0,1.0,26,16.0,16.0,16.0,BACHELOR,BACHELOR,GRADUATE,NaN,NaN,NaN,NaN,NaN,MALE,WHITE,CITY GT 250000,W. SOU. CENTRAL,MOTHER & FATHER,YES,YES,BOTH IN U.S,1,$8000 TO 9999,$8 000 TO 9 999,NaN,NaN,SLGHTLY CONSERVATIVE,W. SOU. CENTRAL,"FRIENDLY,INTERESTED"
1,Secretaries and administrative assistants,3211,4115.0,4.0,48,15.0,9.0,16.0,HIGH SCHOOL,LT HIGH SCHOOL,GRADUATE,NaN,NaN,NaN,NaN,NaN,FEMALE,WHITE,CITY GT 250000,FOREIGN,MOTHER & FATHER,YES,NO,NEITHER IN U.S,ALL IN U.S,$8000 TO 9999,$8 000 TO 9 999,NaN,NaN,CONSERVATIVE,FOREIGN,"FRIENDLY,INTERESTED"
2,NaN,NaN,NaN,4.0,67,13.0,12.0,12.0,HIGH SCHOOL,NaN,HIGH SCHOOL,NaN,NaN,NaN,NaN,NaN,FEMALE,WHITE,CITY GT 250000,W. SOU. CENTRAL,FATHER & STPMOTHER,NO,YES,BOTH IN U.S,ALL IN U.S,NaN,NaN,NaN,NaN,CONSERVATIVE,W. SOU. CENTRAL,NaN
3,Veterinarians,6240,2223.0,2.0,39,14.0,12.0,14.0,HIGH SCHOOL,HIGH SCHOOL,HIGH SCHOOL,NaN,NaN,NaN,NaN,NaN,FEMALE,WHITE,50000 TO 250000,W. SOU. CENTRAL,MOTHER & FATHER,YES,YES,BOTH IN U.S,2,NaN,NaN,NaN,NaN,SLGHTLY CONSERVATIVE,W. SOU. CENTRAL,"FRIENDLY,INTERESTED"
4,Air traffic controllers and airfield operation...,3590,3144.0,1.0,25,14.0,13.0,14.0,JUNIOR COLLEGE,HIGH SCHOOL,JUNIOR COLLEGE,NaN,NaN,NaN,NaN,NaN,FEMALE,WHITE,TOWN LT 50000,W. SOU. CENTRAL,MOTHER & FATHER,YES,YES,BOTH IN U.S,ALL IN U.S,NaN,NaN,NaN,NaN,SLIGHTLY LIBERAL,W. SOU. CENTRAL,COOPERATIVE

#### Data Types

Converting certain variable dtypes to allow us to trim our datframe down to only college students.

In [62]:
df.dtypes

OCC10         object
ISCO681       object
ISCO88       float64
SIBS         float64
AGE         category
EDUC         float64
PAEDUC      category
MAEDUC       float64
DEGREE      category
PADEG       category
MADEG       category
MAJOR1        object
MAJOR2        object
DIPGED        object
SECTOR        object
BARATE        object
SEX         category
RACE        category
RES16       category
REG16       category
FAMILY16    category
MAWRKGRW    category
BORN        category
PARBORN       object
GRANBORN    category
RINCOME     category
RINCOM98      object
RINCOM06      object
RINCOM16      object
POLVIEWS    category
REG16       category
COOP        category
dtype: object

In [63]:
df = df[df["AGE"] != "89 OR OLDER"]
df[["SIBS", "AGE", "EDUC","PAEDUC","MAEDUC"]]=df[["SIBS", "AGE", "EDUC","PAEDUC","MAEDUC"]].apply(pd.to_numeric)

In [64]:
#Removing all entries for those that are not within our target market (College Students)
mask = (df['AGE'] >=21) & (df['AGE'] <= 45) & ((df['EDUC']>=16) | (df['DEGREE'] =='BACHELOR') | (df['DEGREE'] =='JUNIOR COLLEGE') | (df['DEGREE'] =='GRADUATE'))

df = df[mask]

In [65]:
df.shape

(4812, 32)

#### Creating the income column

In [67]:
df["INCOME"] = np.nan

In [71]:
df["INCOME"] = np.where(df["RINCOM16"] != np.nan, df["RINCOM16"], df["INCOME"])
df["INCOME"] = np.where(df["RINCOM06"] != np.nan, df["RINCOM06"], df["INCOME"])
df["INCOME"] = np.where(df["RINCOM98"] != np.nan, df["RINCOM98"], df["INCOME"])
df["INCOME"] = np.where(df["RINCOME"] != np.nan, df["RINCOME"], df["INCOME"])

In [72]:
df.isnull().sum().sort_values(ascending=False)

MAJOR2      4532
RINCOM16    4119
BARATE      3969
SECTOR      3771
RINCOM98    3570
MAJOR1      3179
DIPGED      3108
RINCOM06    2984
ISCO681     1791
INCOME      1077
RINCOME     1077
PAEDUC      1006
PADEG       1003
POLVIEWS     637
MAEDUC       474
MADEG        443
MAWRKGRW     415
GRANBORN     396
SIBS         267
PARBORN      260
BORN         257
RES16        255
FAMILY16     255
ISCO88       120
OCC10        118
COOP          24
EDUC           4
DEGREE         0
AGE            0
RACE           0
REG16          0
REG16          0
SEX            0
dtype: int64

In [73]:
df.drop(["RINCOME", "RINCOM98", "RINCOM06", "RINCOM16", "ISCO681","ISCO88"], axis=1,inplace=True)
df = df[df["INCOME"].notnull()]

In [77]:
df.shape

(3735, 27)

In [78]:
df.isnull().sum().sort_values(ascending=False)

MAJOR2      3525
BARATE      3076
SECTOR      2923
MAJOR1      2492
DIPGED      2438
PADEG        761
PAEDUC       759
POLVIEWS     465
MAEDUC       372
MADEG        350
MAWRKGRW     329
GRANBORN     300
SIBS         207
BORN         203
PARBORN      203
RES16        202
FAMILY16     202
COOP          18
EDUC           2
OCC10          2
DEGREE         0
SEX            0
RACE           0
REG16          0
AGE            0
REG16          0
INCOME         0
dtype: int64

#### Saving the dataframe as a CSV

In [79]:
df.to_csv("data/combined_data.csv", index=False)